<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!-- 模板替换 -->
<head th:substituteby="header :: header"></head>

<!-- 添加的内容 -->
<head>
<title>四川交通职业技术学院-教务综合应用管理</title>
<style type="text/css">
.tb_form {
	margin-top: 50px;
	width: 100%;
	color: #666;
}

.tb_form td {
	padding: 10px 5px;
}
</style>
</head>

<body>
	<!--顶部导航-->
	<div th:include="topbar :: topbar"></div>
	<!--左侧二级导航-->
	<div th:include="sidebar :: index_sidebar"></div>
	<!--右侧框架，内容区-->
	<div class="content">
		<!--修改密码-->
		<div class="changePsw">
			<div class="head2Box">
				<i class="i_q db fl"></i>

				<h2 class="head2">修改密码</h2>
			</div>
			<div class="form">
				<form name="changePsw" id="changePsw" th:action="@{/user/changepassword}" method="POST">
					<table class="tb_form">
						<tr>
							<td colspan="2">
								<div class="err-wrap">
									<label
				                                    th:if="${error != null}"
				                                    class="error font12"
				                                    th:text="${error}"/>
								</div>
							</td>
						</tr>
						<tr>
							<td width="100px" align="right">旧密码：</td>
							<td align="left"><input type="password" name="oldPassword"
								class="ipt_text fl" />

								<div class="err-wrap fl">
									<label
                                    th:if="${errors != null and errors['oldPassword'] != null}"
                                    class="error font12"
                                    th:text="${errors['oldPassword']}"/>
								</div></td>
						</tr>
						<tr>
							<td align="right">设置新密码：</td>
							<td align="left"><input type="password" name="newPassword"
								class="ipt_text fl" id="newPassword"/>

								<div class="err-wrap fl">
									<label
                                    th:if="${errors != null and errors['newPassword'] != null}"
                                    class="error font12"
                                    th:text="${errors['newPassword']}"/>

								</div></td>
						</tr>
						<tr>
							<td align="right">确认新密码：</td>
							<td align="left"><input type="password" name="rePassword"
								class="ipt_text fl" />

								<div class="err-wrap fl">
									<label
                                    th:if="${errors != null and errors['rePassword'] != null}"
                                    class="error font12"
                                    th:text="${errors['rePassword']}"/>

								</div></td>
						</tr>
						<tr>
							<td colspan="2" align="left" style="padding-left: 150px;"><input
								type="submit" name="submit" id="submit" value="确认修改"
								class="ipt_submit btn font16" /><a class="cancel">取消</a></td>

						</tr>
					</table>
				</form>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div th:include="footer :: footer"></div>
</body>
<script th:src="@{/js/jquery.validate.min.js}" type="text/javascript"></script>
<script th:src="@{/js/changepassword.js}" type="text/javascript"></script>
</html>
