<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="header :: header">
</head>
<head>
<title>四川交通职业技术学院-工作任务考核</title>
<style type="text/css" >
#add,#search { width:150px; height:35px; font-weight:bold;}
.depart { width:230px !important;}
.tab_box { width:90%; margin:20px auto; color:#666 }
.tab_box td { padding:10px 5px;}
.tab_box .ipt_text { width:220px !important;}
.tab_box .ipt_btn{ width:80px !important;}
.tab_box .error { width:230px !important;}
.tab_box label { font-size:14px;}
a.next,a.pre { padding:2px 5px; color:#fff;}
.ke-container { width:480px !important;}
.editBox { width:750px;}
.viewBox { width:1000px;}
.view:hover { color:#F00; text-decoration:underline;}

.green {
	color: green !important;
}
.red {
	color: red !important;
}
</style>
<link rel="stylesheet" th:href="@{/css/default.css}" />
<script charset="utf-8" th:src="@{/js/kindeditor-min.js}"></script>
<script charset="utf-8" th:src="@{/js/zh_CN.js}"></script>
</head>
<body>
	<input type="hidden" id="current_nav" value="tech_manage:task:exam"/>
	<div th:include="topbar :: topbar"></div>
	<div th:include="sidebar :: tech_manage_sidebar"></div>
	<!--右侧框架，内容区-->

<!--右侧框架，内容区-->
	<div class="content">   
        <!---->
        <div class="changePsw">
        	<div class="head2Box"><i class="i_q db fl"></i><h2 class="head2">工作任务考核</h2></div>
            <div class="form">
            	<form name="changePsw">
                  	<table class="tb_operation">
                    	<tr class="tr_head"><td colspan="3">您可以执行以下操作：</td></tr>
                    	<tr>
                    		<td align="right">任务名称：</td>
                            <td><input type="text" class="ipt_text search_name" /></td>
                            <td align="left">
                                <input type="button" class="ipt_btn bradius3 bblue search_btn" value="搜索" />
                                <input type="hidden" id="search_url" th:value="@{/task/exam}" />
                            </td>
                    	</tr>
                    </table>
                    <table class="tb_xx">
                    	<tr class="tb_head">
                        	<th>No</th>
                            <th>任务类型</th>
                            <th>任务名称</th>
                            <th>完成时间</th>
                            <th>任务发布单位</th>
                            <th>任务发布人</th>
                            <th>任务发布时间</th>
                            <th class="td_operation" style=" background:#333440;">操作</th>                           
                        </tr>
                        <tr th:each="task,iterationStatus : ${tasks.resultData}">
                        	<td th:text="${iterationStatus.count}">01</td>
                            <td th:text="${task.type == 1 ? '临时任务' : '常规任务'}">任务类型</td>
                            <td th:text="${task.name}">任务名称</td>
                            <td th:text="${task.finishDate == null ? '' : #dates.format(task.finishDate, 'yyyy-MM-dd')}">完成时间</td>
                            <td th:text="${task.department.name}">发布单位</td>
                            <td th:text="${task.pubUser}">发布人</td>
                            <td th:text="${task.pubDate == null ? '' : #dates.format(task.pubDate, 'yyyy-MM-dd')}">发布时间</td>
                            <td th:if="${task.status == 2}"><div><i class="i_edt db fl"></i><a class="a_opr db fl a_view" href="javascript:void(0)">考核</a><input type="hidden" th:value="${task.id}"/></div></td>
                            <td th:if="${task.status == 3}"><div><i class="i_edt db fl"></i><a class="a_opr db fl a_result" href="javascript:void(0)">查看</a><input type="hidden" th:value="${task.id}"/></div></td>
                        </tr>
                        <tr>
                        	<td colspan="8">
                        	共 <span th:text="${tasks.totalCount}"/> 条记录 &nbsp;  第<span th:text="${tasks.currentPageNo}"/>/<span th:text="${tasks.totalPageCount}"/>页&nbsp; 
	                             <a class="pre bradius3 bgreen" th:if="${tasks.previousPage}" th:href="@{/task/exam?pageNo=__${tasks.currentPageNo - 1}__&amp;name=__${name}__}">上一页</a>
	                             <a class="pre bradius3 bgreen" th:if="${!tasks.previousPage}">上一页</a>
	                             <span th:each="pageNumber : ${tasks.pageNumbers}">
	                             	<span th:if="${pageNumber == tasks.currentPageNo}">
	                             		[<span class="" th:text="${pageNumber}"></span>]
	                             	</span>
	                             	<span th:if="${pageNumber != tasks.currentPageNo}">
	                             		<a th:href="@{/task/exam?pageNo=__${pageNumber}__&amp;name=__${name}__}" th:text="${pageNumber}"></a>
	                             	</span>
	                             </span>
	                    		 &nbsp;
	                    		 <a class="next bradius3 bgreen" th:if="${tasks.nextPage}" th:href="@{/task/exam?pageNo=__${tasks.currentPageNo + 1}__&amp;name=__${name}__}">下一页</a>
	                    		 <a class="next bradius3 bgreen" th:if="${!tasks.nextPage}">下一页</a>
                        	</td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
  <div class="dialog_box" id="view_dialog" style="display:none; width: 700px;">
	<div class="dl_title"><strong>工作任务考核</strong>
    <a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn">&times;</a>
    </div>
    	<form id="operation_form">
        <table class="tab_box">
       		<tr>
            	<td colspan="2" class="font14" id="op_msg" width="150" align="center" style="color:red;"></td>
            </tr>
          	<tr>
            	<td class="font14" width="150" align="right">任务类型:</td>
                <td>
                	<span class="type"></span>
                </td>
            </tr>
            <tr>
            	<td class="font14" align="right">任务名称:</td>
                <td>
                	<span class="name"></span>
                </td>
            </tr>
          	 <tr>
            	<td class="font14" align="right">任务类容:</td>
                <td>
                	<span class="content_v"></span>
                </td>
            </tr>
            <tr>
            	<td class="font14" align="right">任务附件:</td>
                <td>
                	<a class="taskfile_link"><span class="taskfile"></span></a>
                </td>
            </tr>
            <tr>
            	<td class="font14" align="right">注意事项:</td>
                <td>
                	<span class="warning"></span>
                </td>
            </tr>
            <tr>
            	<td class="font14" align="right">考核点:</td>
                <td>
                	<span class="keyPoint"></span>
                </td>
            </tr>
            <tr>
            	<td class="font14" align="right">完成时间:</td>
                <td>
                	<span class="finishDate"></span>
                </td>
            </tr>
            <tr>
            	<td class="font14" align="right">指定院系:</td>
                <td>
                	<span class="dep_major"></span>
                </td>
            </tr>
            <tr>
            	<td class="font14" align="right">发布时间:</td>
                <td>
                	<span class="pubDate"></span>
                </td>
            </tr>
            <tr>
                <td class="font14" align="right">执行附件:</td>
                <td>
                    <a class="execute_file_url"><span class="execute_file_name"></span></a>
                </td>
            </tr>
            <tr>
            	<td class="font14" align="right">执行反馈情况:</td>
                <td>
                	<span class="executeFeedback"></span>
                </td>
            </tr>
            <tr>
            	<td class="font14" align="right">考核评分:</td>
                <td>
                	<select name="score" class="ipt_menu score">
                		<option value="1">1分</option>
                		<option value="2">2分</option>
                		<option value="3">3分</option>
                		<option value="4">4分</option>
                		<option value="5">5分</option>
                	</select>
                </td>
            </tr>
            <tr>
                <td class="font14" align="right">考核附件:</td>
                <td>
                    <span class="examfilename"></span>
                    <input type="file" name="taskfile" id="taskfile"/>
                    <input type="hidden" name="examFileName" id="examFileName"/>
                    <input type="hidden" name="examFileURL" id="examFileURL"/>
                    <input type="hidden" id="upload_url" th:value="@{/task/upload}"/>
                </td>
            </tr>
            <tr>
                <td class="font14" align="right">考核反馈:</td>
                <td>
                    <textarea class="ipt_text" name="examFeedback"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="button" class="ipt_btn bradius3 bblue add_or_update_btn" value="提交" />
                    <input type="reset" value="重置" style="display:none;"/>
                    <input type="hidden" name="id" id="op_id" value="0"/>
                    <input type="hidden" id="add_or_edit_url" th:value="@{/task/exam}"/>
                    <input type="hidden" id="pre_update_url" th:value="@{/task}"/>
                    <a class="cancel">放弃</a>
                </td>
            </tr>
        </table>
        </form>
   		</div>
   		
<div class="dialog_box" id="result_dialog" style="display:none; width: 700px;">
	<div class="dl_title"><strong>工作任务考核结果</strong>
    <a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn">&times;</a>
    </div>
        <table class="tab_box">
       		<tr>
            	<td colspan="2" class="font14" id="op_msg" width="150" align="center" style="color:red;"></td>
            </tr>
          	<tr>
            	<td class="font14" width="150" align="right">任务类型:</td>
                <td>
                	<span class="v_type"></span>
                </td>
            </tr>
            <tr>
            	<td class="font14" align="right">任务名称:</td>
                <td>
                	<span class="v_name"></span>
                </td>
            </tr>
          	 <tr>
            	<td class="font14" align="right">任务类容:</td>
                <td>
                	<span class="v_content"></span>
                </td>
            </tr>
            <tr>
            	<td class="font14" align="right">任务附件:</td>
                <td>
                	<a class="v_taskfile_link"><span class="v_taskfile"></span></a>
                </td>
            </tr>
            <tr>
            	<td class="font14" align="right">注意事项:</td>
                <td>
                	<span class="v_warning"></span>
                </td>
            </tr>
            <tr>
            	<td class="font14" align="right">考核点:</td>
                <td>
                	<span class="v_keyPoint"></span>
                </td>
            </tr>
            <tr>
            	<td class="font14" align="right">完成时间:</td>
                <td>
                	<span class="v_finishDate"></span>
                </td>
            </tr>
            <tr>
            	<td class="font14" align="right">指定院系:</td>
                <td>
                	<span class="v_dep_major"></span>
                </td>
            </tr>
            <tr>
            	<td class="font14" align="right">发布时间:</td>
                <td>
                	<span class="v_pubDate"></span>
                </td>
            </tr>
            <tr>
                <td class="font14" align="right">执行附件:</td>
                <td>
                    <a class="v_execute_file_url"><span class="v_execute_file_name"></span></a>
                </td>
            </tr>
            <tr>
            	<td class="font14" align="right">执行反馈情况:</td>
                <td>
                	<span class="v_executeFeedback"></span>
                </td>
            </tr>
            <tr>
            	<td class="font14" align="right">考核评分:</td>
                <td>
                	<span class="v_score"></span>
                </td>
            </tr>
            <tr>
                <td class="font14" align="right">考核附件:</td>
                <td>
                    <a class="v_exam_file_url"><span class="v_exam_file_name"></span></a>
                </td>
            </tr>
            <tr>
                <td class="font14" align="right">考核反馈:</td>
                <td>
                    <span class="v_examFeedback"></span>
                </td>
            </tr>
        </table>
   		</div>
	<div th:include="footer :: footer"></div>
	<script th:src="@{/js/jquery.validate.min.js}" type="text/javascript"></script>
	<script type="text/javascript" th:src="@{/js/easydialog.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/ajaxfileupload.js}"></script>
	<script type="text/javascript" th:src="@{/js/task/exam_task.js}"></script>
</body>
</html>